:root {
  --green: #3d8168;
  --white: #f3eae3;
}

html {
  font-family: "Karla", sans-serif;
}
body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
}

button {
  background-color: var(--green);
  color: white;
  width: 212px;
  height: 43px;
  border: 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

button:hover {
  background-color: #1a4031;
  cursor: pointer;
}

/*------text_style----------*/

h2,
p,
.price__new,
.price_old {
  color: var(--green);
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 0.9em;
}

h1,
.price__new,
.price_old {
  font-family: "Source Serif Pro", serif;
}

h1 {
  font-size: 2em;
  line-height: 1em;
}

p {
  line-height: 1.5em;
  margin-right: 1.2em;
  font-size: 1em;
  letter-spacing: 0.02em;
}

.price__new {
  font-size: 2em;
  font-weight: 900;
  margin: 0.3em 0;
}

.price_old {
  font-size: 0.9em;
  font-weight: 300;
  text-decoration: line-through;
  margin-left: 1.5em;
}
iconify-icon {
  font-size: 1.4em;
  margin-right: 1em;
}

/*------end_text_style-------*/

/*----container_cart_style------*/

.container {
  background-color: var(--white);
  box-shadow: 0px 0px 50px 1px #838383;
  margin: 150px auto;
  max-width: 1300px;
  height: 700px;
  position: relative;
}

.cart {
  display: flex;
  margin: auto;
  width: 620px;
  height: 440px;
  overflow: hidden;
  border: 0px;
  border-radius: 10px;
  top: 18%;
  position: relative;
}

.cart__right,
.cart__left {
  height: 100%;
  width: 100%;
  background-color: white;
}
.cart__right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
}
.content__right {
  padding: 1em 1.5em;
}

.cart__left {
  background: url("/images/image-product-desktop.jpg") no-repeat center center;
  background-size: cover;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*------------papa_mobile-------------*/

@media (max-width: 700px) {
  button {
    margin-bottom: 2em;
  }

  .cart__left {
    background: url("/images/image-product-mobile.jpg") no-repeat center center;
    background-size: cover;
  }

  .cart {
    width: 345px;
    height: 620px;
    top: 5%;
    flex-direction: column;
  }
}
